.body {
    background-color: rgb(175, 219, 219);
}

.treeLogo {
    width: 110px;
}

.s4e-title {
    font-family: 'Bauhaus 93', 'Century Gothic', 'Arial';
}

.postText {
    padding: 20px 10px 20px 10px;
}

.s4e-buttonContainer {
    margin-bottom: 32px;
}

.s4e-buttonContainer button {
    pointer-events: none;
}

.s4e-postHeader {
    font-size: 12px;
    background-color: #faeaa2;
    padding: 5px 20px;
}

.postsContainer {
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 15px;
}

#backToTop {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 30px;
}

.errorAllPostsMessage {
    padding-left: 200px;
    padding-right: 200px;
    margin-bottom: 32px;
}

.s4e-spinner {
    width: 4rem;
    height: 4rem;
}
